1.	What are data structures, and why are they important?
Data structures are ways of organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently. They are important because they allow for efficient data handling, algorithm implementation, and resource management in programming.
	2.	Explain the difference between mutable and immutable data types with examples.
	•	Mutable: Can be changed after creation. Example: Lists ([1, 2, 3]) and dictionaries ({"key": "value"}).
	•	Immutable: Cannot be changed after creation. Example: Tuples ((1, 2, 3)) and strings ("Hello").
	3.	What are the main differences between lists and tuples in Python?
	•	Lists: Mutable, defined using square brackets ([ ]), and slower.
	•	Tuples: Immutable, defined using parentheses (( )), and faster.
	4.	Describe how dictionaries store data.
Dictionaries store data as key-value pairs in a hash table. Keys are hashed, and their corresponding values are stored in a location determined by the hash.
	5.	Why might you use a set instead of a list in Python?
To store unique items only and perform operations like unions, intersections, and differences efficiently.
	6.	What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters, while a list is a mutable sequence of elements (which can include different types).
	7.	How do tuples ensure data integrity in Python?
Tuples are immutable, so once created, their content cannot be changed, ensuring the data remains constant.
	8.	What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables.
	9.	Can lists contain different data types in Python?
Yes, lists can store elements of different types (e.g., [1, "string", 3.14]).
	10.	Explain why strings are immutable in Python.
Strings are immutable to improve performance and ensure thread safety since multiple references can share the same data without conflicts.
	11.	What advantages do dictionaries offer over lists for certain tasks?
Dictionaries provide fast lookups, insertion, and deletion using keys, making them ideal for tasks requiring key-based access.
	12.	Describe a scenario where using a tuple would be preferable over a list.
Tuples are preferable when the data should not change, such as representing a fixed set of coordinates (e.g., (3, 5)).
	13.	How do sets handle duplicate values in Python?
Sets automatically remove duplicates and store only unique elements.
	14.	How does the “in” keyword work differently for lists and dictionaries?
	•	For lists: Checks if a value exists in the list.
	•	For dictionaries: Checks if a key exists in the dictionary.
	15.	Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable, so their elements cannot be modified after creation.
	16.	What is a nested dictionary, and give an example of its use case?
A dictionary within another dictionary. Example: Storing student details by their ID:

students = {
    1: {"name": "Alice", "age": 20},
    2: {"name": "Bob", "age": 22}
}


	17.	Describe the time complexity of accessing elements in a dictionary.
Accessing elements in a dictionary has an average time complexity of O(1) due to hashing.
	18.	In what situations are lists preferred over dictionaries?
Lists are preferred when the order of elements matters or when you need to store sequential data without key-value relationships.
	19.	Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries before Python 3.7 were unordered, meaning the insertion order wasn’t guaranteed. However, from Python 3.7 onwards, insertion order is preserved. The retrieval process is still key-based, not index-based.
	20.	Explain the difference between a list and a dictionary in terms of data retrieval.
	•	Lists: Use index-based retrieval.
	•	Dictionaries: Use key-based retrieval, which is faster for lookups

In [1]:
#1 Create a string with your name
my_name = "sam"

# Print the string
print(my_name)

sam

In [4]:
#2 a="hello world"
a = "hello world"
len(a) # Calculate the length of the string
print(len(a)) #Print the length of the string

11

In [5]:
#3 Define the string
my_string = "Python Programming"

# Slice the first 3 characters
sliced_string = my_string[:3]

# Print the result
print("The first 3 characters are:", sliced_string)

The first 3 characters are: Pyt

In [6]:
#4 Define the string
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the result
print("The string in uppercase is:", uppercase_string)

The string in uppercase is: HELLO

In [7]:
#5 Define the string
my_string = "i like apple"

# Replace "apple" with "orange"
new_string = my_string.replace("apple", "orange")

# Print the result
print("Updated string:", new_string)

Updated string: i like orange

In [8]:
#6 Create a list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", my_list)

The list is: [1, 2, 3, 4, 5]

In [9]:
#7 Define the list
my_list = [1, 2, 3, 4, 5]

# Append the number 10 to the list
my_list.append(10)

# Print the updated list
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 5, 10]

In [10]:
#8 Define the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

In [11]:
#9 my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

2

In [12]:
#10 my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[5, 4, 2, 1]

In [13]:
#11 Create a tuple with the elements 10, 20, 30
my_tuple = (10, 20, 30)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

In [14]:
#12 Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element
first_element = my_tuple[0]

# Print the first element
print(first_element)

apple

In [15]:
#13 my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)  # Use the count() method
print(f"The number 2 appears {count_of_2} times in the tuple.")

The number 2 appears 0 times in the tuple.

In [16]:
#14
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(f"The index of 'cat' is: {index_of_cat}")

The index of 'cat' is: 1

In [17]:
#15 my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is not in the tuple.

In [18]:
#16 Create a set with elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

In [19]:
#17 my_set = {1, 2, 3, 4}
my_set.add(6)  # Adds the element 6 to the set
print(my_set)

{1, 2, 3, 4, 5, 6}

In [20]:
#18 my_tuple = (10, 20, 30)
print(my_tuple)

('dog', 'cat', 'rabbit')

In [21]:
#19 my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]  # Index 0 for the first element
print(first_element)

dog

In [23]:
#20
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)  # Count occurrences of 2
print(count_of_2)

3

In [24]:
#21 Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print(index_of_cat)

1

In [25]:
#22 my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is not in the tuple.

In [26]:
#23 my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [27]:
#24 Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}